/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@font-face {
    font-family: 'calibri';
    src: url(assets/fonts/Calibri.ttf); 
}
@font-face {
    font-family: 'calibri-bold';
    src: url(assets/fonts/CalibriBold.ttf); 
}

body,
ul,
li,
a,
p,
span,
div {
    font-family: 'calibri' !important;
    letter-spacing: 0.12px !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'calibri-bold' !important;
    letter-spacing: 0.5px;
}
p { font-size: 16px; line-height: 22px; }
a { color: #003c5b; }

/*.container-fluid { padding: 0px;}*/

body {
    background-color: #F5F7FA;
}

.fixedheader {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    transition: width 2s;
    -webkit-transition: width 2s;
}

.fixedheader nav.navbar {
    padding: 5px 0px;
}

.fixedheader .logo {
    padding: 0px 0px 0px 15px !important;
}

.fixedheader .logo img {
    width: 50px !important;
}

.fixedheader ul.navbar-nav {
    padding: 10px 0px !important;
}

.header-main {
    position: relative;
}

@media only screen and (max-width: 767px) {
    .header-main1 {
        padding: 10px 0px !important;
    }
    .header-main1 h1 {
        font-size: 20px;
        line-height: 28px;
    }
    .header-main1 .col-sm-7 {
        padding: 0px;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .header-main1 {
        padding: 20px 0px !important;
    }
    .header-main1 h1 {
        font-size: 32px;
        line-height: 38px;
    }
    .table-main {
        padding: 15px 0px !important;
    }
}


/* ui-breadcrumb ui-widget ui-widget-header ui-helper-clearfix ui-corner-all */

.ui-breadcrumb ul li {
    display: inline-block;
    color: #fff;
}

.ui-breadcrumb ul li span {
    display: inline-block;
    color: #fff;
}

.box-icon i {
    color: #3ea9e0 !important;
}

.divider {
    background-color: #f5b324 !important;
}
ng2-smart-table table thead tr th{
    color: #003c5b;
    padding: 20px 10px !important;
    font-size: 16px !important;
    line-height: 22px !important;
}
ng2-smart-table table tbody tr td {
    padding: 15px 12px !important;
    vertical-align: top;
    font-size: 14px !important;
    line-height: 20px !important;
}

ng2-smart-table table tbody tr:nth-of-type(odd) {
    background-color: #f1f0f5;
}