<div class="row container-fluid precinct-main-fluid">
<div class="row header-main1">
    <div class="container">
        <div class="col-sm-7">
            <h1><i class="fa fa-angle-double-right" aria-hidden="true"></i>Questions and Referendum</h1>
            <p-breadcrumb [model]="items"></p-breadcrumb>

        </div>
        <div class="date-main col-sm-5">
            <div class="col-sm-6">
                <span class="date-head">Created Date : </span><span class="date-text">01/11/2017</span>
            </div>
            <div class="col-sm-6">
                <span class="date-head">Modified Date : </span><span class="date-text">28/11/2017</span>
            </div>
        </div>

    </div>
</div>
<div class="container">
    <div class="row election-btns">
        <div class="election-btns-left col-sm-5">
            <button type="button" class="btn btn-type1" [routerLink]="['/electionoperation']"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Go back</button>
        </div>
        <div class="election-btns-right col-sm-7">
            <button type="button" class="btn btn-type1"><i class="fa fa-file-text-o" aria-hidden="true"></i> Forms Guide</button>
            <button type="button" class="btn btn-type2"><i class="fa fa-print" aria-hidden="true"></i> Printable</button>
        </div>
        <!-- <div class="star-icon pull-right">
			<span class="star-icons">
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-question-circle" aria-hidden="true"></i>
			</span>
		</div> -->
    </div>
    <div class="row election-data-main election-form-body">
        <div class="col-sm-12">
            <div class="col-sm-5 precinct-main">
            	<h4>Precinct Assigned to this Contest</h4>
            	<div class="data-table-main">
            		<div class="order-table-main">
                        <div class="election-general-info-body table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                        	<div class="checkbox checkbox-th">
                                                <label><input type="checkbox" id="checkbox1">Select All</label>
                                            </div>
                                        </th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr routerLink=''>
                                    	<td>
                                            <div class="checkbox">
                                                <input id="checkbox1" type="checkbox">
                                            </div>
                                        </td>
                                        <td>ANNIVILLE JP DISTRICT 1</td>
                                    </tr>
                                    <tr routerLink=''>
                                    	<td>
                                            <div class="checkbox">
                                                <input id="checkbox1" type="checkbox">
                                            </div>
                                        </td>
                                        <td>ANNIVILLE WITHOUT JP</td>
                                    </tr>
                                    <tr routerLink=''>
                                    	<td>
                                            <div class="checkbox">
                                                <input id="checkbox1" type="checkbox">
                                            </div>
                                        </td>
                                        <td>ASHLAND JP DISTRICT 9</td>
                                    </tr>
                                    <tr routerLink=''>
                                    	<td>
                                            <div class="checkbox">
                                                <input id="checkbox1" type="checkbox">
                                            </div>
                                        </td>
                                        <td>ASHLAND WITHOUT JP</td>
                                    </tr>
                                    <tr routerLink=''>
                                    	<td>
                                            <div class="checkbox">
                                                <input id="checkbox1" type="checkbox">
                                            </div>
                                        </td>
                                        <td>BLACK RIVER JP DISTRICT 9</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
            	<div class="precist-arrows">
            		<div class="precit-arrow">
            			<a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            		</div>
            		<div class="precit-arrow">
            			<a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            		</div>
            		<div class="precit-arrow">
            			<a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            		</div>
            		<div class="precit-arrow">
            			<a href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
            		</div>
            	</div>
            </div>
            <div class="col-sm-5 precinct-main">
            	<h4>Precinct Assigned to this Contest</h4>
            	<div class="data-table-main">
            		<div class="order-table-main">
                        <div class="election-general-info-body table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                        	<div class="checkbox checkbox-th">
                                                <label><input type="checkbox" id="checkbox1">Select All</label>
                                            </div>
                                        </th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr routerLink=''>
                                    	<td>
                                            <div class="checkbox">
                                                <input id="checkbox1" type="checkbox">
                                            </div>
                                        </td>
                                        <td>BOAS 1</td>
                                    </tr>
                                    <tr routerLink=''>
                                    	<td>
                                            <div class="checkbox">
                                                <input id="checkbox1" type="checkbox">
                                            </div>
                                        </td>
                                        <td>BOAS 2</td>
                                    </tr>
                                    <tr routerLink=''>
                                    	<td>
                                            <div class="checkbox">
                                                <input id="checkbox1" type="checkbox">
                                            </div>
                                        </td>
                                        <td>CACHE JP DISTRICT 4</td>
                                    </tr>
                                    <tr routerLink=''>
                                    	<td>
                                            <div class="checkbox">
                                                <input id="checkbox1" type="checkbox">
                                            </div>
                                        </td>
                                        <td>CAMPBELL 1 JP DISTRICT 4</td>
                                    </tr>
                                    <tr routerLink=''>
                                    	<td>
                                            <div class="checkbox">
                                                <input id="checkbox1" type="checkbox">
                                            </div>
                                        </td>
                                        <td>CAMPBELL 1 JP DISTRICT 5</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row election-operations-main">
            <div class="election-operations-head">
                <h3>Add Question</h3>
            </div>
            <div class="election-operations-body">
                <div class="election-operations-form col-sm-12">
                    <form class="login-form">
                        <div class="row coverage-type-head">
                            <div class="row col-sm-12 contact-input">
                                <div class="col-sm-6">
                                    <div class="form-group col-sm-12">
                                       	<input type="email" class="form-control" id="email" placeholder="Record Name" name="email">
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <textarea class="form-control" rows="5" id="comment" placeholder="Referendum Title"></textarea>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <textarea class="form-control" rows="5" id="comment" placeholder="Text for Referendum"></textarea>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <textarea class="form-control" rows="5" id="comment" placeholder="Explanation Text (optional)"></textarea>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <input type="email" class="form-control" id="email" placeholder="Alt First Response ID" name="email">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="coverage-type-head">
		                                    <div class="col-sm-3">
		                                        <p>Office Heading : </p>
		                                    </div>
		                                    <div class="col-sm-9">
		                                        <div class="form-group">
		                                            <select class="form-control" id="sel1">
														<option>Gold</option>
														<option>Silver</option>
														<option>Bronze</option>
														<option>None</option>
													</select>
		                                        </div>
		                                    </div>
		                                </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" placeholder="Abbreviated Title" name="email">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="5" id="comment" placeholder="Text of First Response"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="5" id="comment" placeholder="Text of Second Response"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" placeholder="Alt Question ID" name="email">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" placeholder="Alt Second Response ID" name="email">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="submit-btn col-sm-12">
                            <div class="text-right">
                                <button type="button" class="btn btn-md order-btn2">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>