<div class="row container-fluid precinct-main-fluid">
<div class="row header-main1">
    <div class="container">
        <div class="col-sm-7">
            <h1><i class="fa fa-angle-double-right" aria-hidden="true"></i>Ballet Assignment Review</h1>
            <p-breadcrumb [model]="items"></p-breadcrumb>

        </div>
        <div class="date-main col-sm-5">
            <div class="col-sm-6">
                <span class="date-head">Created Date : </span><span class="date-text">01/11/2017</span>
            </div>
            <div class="col-sm-6">
                <span class="date-head">Modified Date : </span><span class="date-text">28/11/2017</span>
            </div>
        </div>

    </div>
</div>
<div class="container">
    <div class="row election-btns">
        <div class="election-btns-left col-sm-5">
            <button type="button" class="btn btn-type1" [routerLink]="['/electionoperation']"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Go back</button>
        </div>
        <div class="election-btns-right col-sm-7">
            <button type="button" class="btn btn-type1"><i class="fa fa-file-text-o" aria-hidden="true"></i> Forms Guide</button>
            <button type="button" class="btn btn-type2"><i class="fa fa-print" aria-hidden="true"></i> Printable</button>
        </div>
        <!-- <div class="star-icon pull-right">
			<span class="star-icons">
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-question-circle" aria-hidden="true"></i>
			</span>
		</div> -->
    </div>
    <div class="order-table-main col-sm-12">
       	<div class="row election-general-info-body table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>U.S. PRESIDENT AND VICE PRESIDENT</th>
                        <th>U.S. SENATE</th>
                        <th>U.S. CONGRESS DISTRICT 03</th>
                        <th>STATE REPRESENTATIVE DISTRICT 69</th>
                        <th>STATE REPRESENTATIVE DISTRICT 73</th>
                        <th>CIRCUIT CLERK</th>
                        <th>TAX COLLECTOR</th>
                        <th>JUSTICE OF PEACE, DISTRICT #9</th>
                        <th>CROW MOUNTAIN EAST CONSTABLE</th>
                        <th>PEA RIDGE CONSTABLE</th>
                        <th>DOVER ALDERMAN WARD 1 POSITION 1</th>
                        <th>DOVER ALDERMAN WARD 2 POSITION 2</th>
                        <th>RUSSELVILLE ALDERMAN WARD 1 POSITION 2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr routerLink=''>
                        <td>APPLETON #1</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                    </tr>
                    <tr>
                        <td>APPLETON #2</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                    </tr>
                    <tr>
                        <td>ATKINS IN</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                    </tr>
                    <tr>
                        <td>ATKINS OUT #1</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                    </tr>
                    <tr>
                        <td>ATKINS OUT #2</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                    </tr>
                    <tr>
                        <td>ATKINS OUT #3</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                    </tr>
                    <tr>
                        <td>BAYLISS</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                    </tr>
                    <tr>
                        <td>BUCK MOUNTAIN</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                    </tr>
                    <tr>
                        <td>CAGLESVILLE</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>