.footer-main { background-color: #eaeaea; padding: 6px 20px; }
.footer-main p { margin-bottom: 0px; }
@media only screen and (max-width: 767px) {
.footer .container { padding: 0px; }
.footer .container .col-sm-8, .footer .container .col-sm-4 { padding: 0px; }
.copyright p { font-size: 12px; }
}