<div class="row">
	<div class="container login-main">
		<div class="col-sm-offset-4 col-sm-4">
			<div class="login-box-main">
				<div class="logo-img text-center">
					<img src="assets/images/logo.jpg" alt="my ESS">
				</div>
				<div class="login-box-starts">
					<div class="block-shadow text-center">
	                  <div class="block-inner">
	                    <p class="text-uppercase">Log in to your account</p>
	                    <div class="unlock-icon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></div>
	                  </div>
	                  <form class="login-form" novalidate="novalidate">
	                    <div class="block-inner">
	                      <div class="form-group">
	                        <input id="login-form-login" type="text" name="login" placeholder="Login" class="form-control form-control-has-validation"><span class="form-validation">The text field is required.</span>
	                      </div>
	                      <div class="form-group">
	                        <input id="login-form-password" type="password" name="pass" placeholder="Password" class="form-control form-control-has-validation"><span class="form-validation">The text field is required.</span>
	                      </div>
	                      <div class="forgot-pswd"><a href="#" class="link-default">Forgot your password?</a></div>
	                    </div>
	                    <div class="login-btn">
	                      <button type="submit" class="btn btn-primary btn-round-bottom btn-block">Sign in</button>
	                    </div>
	                  </form>
	                </div>
				</div>
			</div>
		</div>
	</div>
</div>