<div class="row header-main1">
    <div class="container">
        <div class="col-sm-7">
            <h1><i class="fa fa-angle-double-right" aria-hidden="true"></i>Pre-Election Questionnaire</h1>
            <p-breadcrumb [model]="items"></p-breadcrumb>

        </div>
        <div class="date-main col-sm-5">
            <div class="col-sm-6">
                <span class="date-head">Created Date : </span><span class="date-text">01/11/2017</span>
            </div>
            <div class="col-sm-6">
                <span class="date-head">Modified Date : </span><span class="date-text">28/11/2017</span>
            </div>
        </div>

    </div>
</div>
<div class="container">
    <div class="row election-btns">
        <div class="election-btns-left col-sm-5">
            <button type="button" class="btn btn-type1"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Go back</button>
        </div>
        <div class="election-btns-right col-sm-7">
            <button type="button" class="btn btn-type1"><i class="fa fa-file-text-o" aria-hidden="true"></i> Forms Guide</button>
            <button type="button" class="btn btn-type2"><i class="fa fa-print" aria-hidden="true"></i> Printable</button>
        </div>
        <!-- <div class="star-icon pull-right">
			<span class="star-icons">
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-question-circle" aria-hidden="true"></i>
			</span>
		</div> -->
    </div>
    <div class="row election-data-main">
        <div class="col-sm-3">
            <div class="nav-side-menu">
                <div class="brand">Monitor</div>
                <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
                <div class="menu-list">
                    <ul id="menu-content" class="menu-content collapse out">
                        <li class="active">
                            <a>
                                <i class="fa fa-dashboard fa-lg"></i> Precision List (Done)
                            </a>
                        </li>
                        <li data-toggle="collapse" data-target="#products" class="collapsed">
                            <a><i class="fa fa-gift fa-lg"></i> Questions/Referenda <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="products">
                            <li class="active"><a>Submenu 1</a></li>
                            <li><a>Submenu 2</a></li>
                            <li><a>Submenu 3</a></li>
                            <li><a>Submenu 4</a></li>
                        </ul>
                        <li data-toggle="collapse" data-target="#service" class="collapsed">
                            <a><i class="fa fa-globe fa-lg"></i> Contents and Candidates (Done)</a>
                        </li>
                        <li data-toggle="collapse" data-target="#new" class="collapsed">
                            <a><i class="fa fa-car fa-lg"></i> Ballot Assignment Chart</a>
                        </li>
                        <li>
                            <a>
                                <i class="fa fa-user fa-lg"></i> M100 Programming
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="fa fa-users fa-lg"></i> iV0 Coding Specifications
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="fa fa-users fa-lg"></i> Balator Printing
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="fa fa-users fa-lg"></i> Pronunciation Guide/Waiver
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-9 election-form-body">
            <ul class="nav nav-tabs nav-pills">
                <li class="active"><a data-toggle="tab" href="#home">General Information</a></li>
                <li><a data-toggle="tab" href="#menu1">Shipping and Billing Information</a></li>
                <li><a data-toggle="tab" href="#menu2">ES&S Service Requested</a></li>
            </ul>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <div class="election-general-info-body">
                        <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <td>Account</td>
                                    <td>State of Indipendence</td>
                                </tr>
                                <tr>
                                    <td>Contact</td>
                                    <td>Greguson</td>
                                </tr>
                                <tr>
                                    <td>Election Date</td>
                                    <td>09/07/2017</td>
                                </tr>
                                <tr>
                                    <td>Election Title</td>
                                    <td>PRIMARY ELECTION</td>
                                </tr>
                                <tr>
                                    <td>Election Type</td>
                                    <td>City General</td>
                                </tr>
                                <tr>
                                    <td>Election Day Time Polls Open</td>
                                    <td>07:00</td>
                                </tr>
                                <tr>
                                    <td>Election Day Time Polls Close</td>
                                    <td>19:00</td>
                                </tr>
                                <tr>
                                    <td>UOCAVA Date</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Public Test</td>
                                    <td>09/07/2017</td>
                                </tr>
                                <tr>
                                    <td>Pre Test</td>
                                    <td>08/07/2017</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <div class="election-general-info-body">
                        <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <td>Coding Shipping</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Contact Info</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Coding Billing Contact</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Info</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Printing Shipping Contact Info</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Printing Shipping Contact Info</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Alternate Shipping Contact Info</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <div class="election-general-info-body">
                        <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <td>Paper Ballot Layout</td>
                                    <td>Yes</td>
                                </tr>
                                <tr>
                                    <td>PDF Extracts</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Publication Ballot</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Simple Ballot Modification</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Simple Ballot Instructions</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Printing</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Vote-By-Email</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Is this an all-mail election?</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Coding</td>
                                    <td>Yes</td>
                                </tr>
                                <tr>
                                    <td>Auto Files</td>
                                    <td>Yes</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>