.block-shadow {
    position: relative;
    width: 100%;
    padding-top: 30px;
    overflow: hidden;
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(65, 65, 65, 0.12);
    box-shadow: 0px 1px 10px 0px rgba(65, 65, 65, 0.12);
    text-align: center;
}

.block-shadow .block-inner {
    padding: 0 40px;
}

.login-main {
    padding: 10vh 0vh;
}

.login-box-starts p {
    color: #535457;
}

.unlock-icon,
.login-form {
    margin-top: 40px;
}

.unlock-icon i {
    width: 60px;
    height: 60px;
    font-size: 60px;
    line-height: 60px;
}

.login-form input {
    padding: 6px 0;
    box-shadow: none;
    border-radius: 0;
    color: #000;
    border-width: 0 0 1px 0;
    border-color: #dedede;
    background-color: transparent;
}

.login-form input.error {
    border-color: #fe4a21;
    box-shadow: none;
}

.form-validation {
    font-size: 11px;
    font-style: italic;
    line-height: 11px;
    color: #fe4a21;
    margin-top: 2px;
    transition: .3s;
    float: right;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: transparent !important;
}

.form-control:focus {
    box-shadow: none;
    border-color: #fe4a21 !important;
}

.login-form .form-group {
    padding-bottom: 10px;
    margin-bottom: 15px;
}

 ::placeholder {
    color: #000 !important;
    opacity: 1;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000 !important;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000 !important;
}

.login-btn {
    margin-top: 30px;
}

.login-btn button {
    color: #fff;
    border-radius: 0 0 5px 5px;
    background-color: #6ca442;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition: .3s ease-out;
    padding: 13px 15px;
    border-color: #6ca442;
}

.login-btn button:hover {
    background-color: #5d7e96;
    border-color: #5d7e96;
}

.forgot-pswd {
    color: #a2b0bf;
    padding-top: 15px;
}

.forgot-pswd a {
    color: #a2b0bf;
    font-size: 13px;
    line-height: 16px;
}

.logo-img {
    padding: 25px 0px;
}

.login-box-starts {
    padding-bottom: 25px;
}