<div class="home-main">
	<div class="row">
		<div id="first-slider">
			<div id="carousel-example-generic" class="carousel slide carousel-fade">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<!-- Item 1 -->
					<div class="item active slide1">
						<div class="row">
							<div class="container">
								<div class="col-md-3 text-right col-xs-5">
									<img style="max-width: 200px;" data-animation="animated zoomInLeft" src="http://s20.postimg.org/pfmmo6qj1/window_domain.png">
								</div>
								<div class="col-md-9 text-left col-xs-7">
									<h3 data-animation="animated bounceInDown">Add images, or even your logo!</h3>
									<h4 data-animation="animated bounceInUp">Easily use stunning effects</h4>
								</div>
							</div>
						</div>
					</div>
					<!-- Item 2 -->
					<div class="item slide2">
						<div class="row">
							<div class="container">
								<div class="col-md-7 text-left col-xs-7">
									<h3 data-animation="animated bounceInDown"> 50 animation options A beautiful</h3>
									<h4 data-animation="animated bounceInUp">Create beautiful slideshows </h4>
								</div>
								<div class="col-md-5 text-right col-xs-5">
									<img style="max-width: 200px;" data-animation="animated zoomInLeft" src="http://s20.postimg.org/sp11uneml/rack_server_unlock.png">
								</div>
							</div>
						</div>
					</div>
					<!-- Item 3 -->
					<div class="item slide3">
						<div class="row">
							<div class="container">
								<div class="col-md-5 text-left col-xs-5">
									<img style="max-width: 200px;" data-animation="animated zoomInLeft" src="http://s20.postimg.org/eq8xvxeq5/globe_network.png">
								</div>
								<div class="col-md-7 text-right col-xs-7">
									<h3 data-animation="animated bounceInDown">Simple Bootstrap Carousel</h3>
									<h4 data-animation="animated bounceInUp">Bootstrap Image Carousel Slider with Animate.css</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Wrapper for slides-->
				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
	<div class="row container services-main">
		<h1>Our Services</h1>
		<p>We provide expert tax and advisory services to individuals and small businesses.</p>
	</div>
	<div class="row container links-main">
		<div class="row range range-xs-center">
			<div class="col-sm-4 height-fill">
				<article class="icon-box" [routerLink]="['/electionforms']">
					<div class="box-top">
						<div class="box-icon"><i class="fa fa-file" aria-hidden="true"></i></div>
						<div class="divider"></div>
						<div class="box-header">
							<h5><a href="#">Election Forms</a></h5>
						</div>
					</div>
				</article>
			</div>
			<div class="col-sm-4 height-fill offset-top-40 offset-sm-top-0">
				<article class="icon-box" [routerLink]="['']">
					<div class="box-top">
						<div class="box-icon"><i class="fa fa-cogs" aria-hidden="true"></i></div>
						<div class="divider"></div>
						<div class="box-header">
							<h5><a href="#">Submit RMA Forms</a></h5>
						</div>
					</div>
				</article>
			</div>
			<div class="col-sm-4 height-fill offset-top-40 offset-md-top-0">
				<article class="icon-box" [routerLink]="['']">
					<div class="box-top">
						<div class="box-icon"><i class="fa fa-bus" aria-hidden="true"></i></div>
						<div class="divider"></div>
						<div class="box-header">
							<h5><a href="#">Order Status</a></h5>
						</div>
					</div>
				</article>
			</div>
		</div>
		<div class="row range range-xs-center">
			<div class="col-sm-4 col-sm-offset-2 height-fill">
				<article class="icon-box" [routerLink]="['']">
					<div class="box-top">
						<div class="box-icon"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
						<div class="divider"></div>
						<div class="box-header">
							<h5><a href="#">My Documents</a></h5>
						</div>
					</div>
				</article>
			</div>
			<div class="col-sm-4 height-fill offset-top-40 offset-sm-top-0">
				<article class="icon-box" [routerLink]="['']">
					<div class="box-top">
						<div class="box-icon"><i class="fa fa-users" aria-hidden="true"></i></div>
						<div class="divider"></div>
						<div class="box-header">
							<h5><a>My Account</a></h5>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>
</div>