<div class="row header-main1">
    <div class="container">
        <h1><i class="fa fa-angle-double-right" aria-hidden="true"></i>Election Forms</h1>
        <p-breadcrumb [model]="items"></p-breadcrumb>

    </div>
</div>
<div class="election-form-container container">
    <div class="table-main">
        <div class="star-icon">
            <span class="star-icons">
				<i class="fa fa-star" aria-hidden="true"></i>
			</span>
        </div>
        <div class="election-table-main">
            <div class="table-search">
                <div class="input-group col-sm-12">
                    <input class="form-control my-0 py-1 grey-border" type="text" placeholder="Search for Election Type or Election Title" aria-label="Search">
                    <span class="input-group-addon waves-effect grey lighten-3" id="basic-addon1"><a><i class="fa fa-search text-grey" aria-hidden="true"></i></a></span>
                </div>
            </div>
            <div class="election-table-starts">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Election Date</th>
                            <th>Election Type</th>
                            <th>Election Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>09/07/2017</td>
                            <td>City General</td>
                            <td>Primary</td>
                        </tr>
                        <tr>
                            <td>08/31/2017</td>
                            <td>Primary</td>
                            <td>Special</td>
                        </tr>
                        <tr>
                            <td>09/07/2017</td>
                            <td>Primary</td>
                            <td>KME</td>
                        </tr>
                        <tr>
                            <td>01/14/2017</td>
                            <td>Special</td>
                            <td>Paige & Sarah Training</td>
                        </tr>
                        <tr>
                            <td>04/18/2017</td>
                            <td>Other</td>
                            <td>july@example.com</td>
                        </tr>
                        <tr>
                            <td>03/11/2017</td>
                            <td>Special</td>
                            <td>2016 Judicial General Election</td>
                        </tr>
                        <tr>
                            <td>09/16/2017</td>
                            <td>City General</td>
                            <td>Presidential Primary</td>
                        </tr>
                        <tr>
                            <td>06/08/2017</td>
                            <td>Special</td>
                            <td>Special Election</td>
                        </tr>
                        <tr>
                            <td>03/27/2017</td>
                            <td>Other</td>
                            <td>City General Election</td>
                        </tr>
                        <tr>
                            <td>06/17/2017</td>
                            <td>City General</td>
                            <td>General</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>